{{ define "cross_payment.tmpl" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>InstaPay client app</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

{{template "cross_comm_navbar.html"}}

<div class="container-fluid">
<!--
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Channels</h3>
                </div>
                {{template "channel_menu.html"}} 
            </div>
        </div>
-->
        <div class="col-md-14">
<table width="100%">
<tr>
<td>
            <form method="post" action="/cross-payments/cross-server">
		<div class="form-group">

		    <h1>Ethereum private network 1</h1>
		    <!--
                    <div class="col-xs-4">
		           <select class="form-control" name="chainId">
				<option value="">Chain</option>
				<option value="ethereum">Ethereum</option>
				<option value="ethereum_classic">Ethereum Classic</option>
			    </select>
			    <br>
                    </div>
		    -->
</td>
<td>
		    <h2>Ethereum private network 2</h2>
		    <!--
                    <div class="col-xs-4">
		           <select class="form-control" name="chainId">
				<option value="">Chain</option>
				<option value="ethereum">Ethereum</option>
				<option value="ethereum_classic">Ethereum Classic</option>
			    </select>
			    <br>
                    </div>
		    -->
		</div>
</td>
</tr>
<tr>
<td>
                <div class="form-group">
                    <div class="col-xs-6">
	                    <label for="chain1_sender">Address 1:</label>
        	            <input type="text" class="form-control" id="chain1_sender" name="chain1_sender">
                	    <label for="chain1_sender_val">Value:</label>
	                    <input type="text" class="form-control" id="chain1_sender_val" name="chain1_sender_val">
                    </div>
                    <div class="col-xs-6">
	                    <label for="chain1_receiver">Address 2:</label>
        	            <input type="text" class="form-control" id="chain1_receiver" name="chain1_receiver">
                	    <!--<label for="e_addr2_val">Value:</label>
	                    <input type="text" class="form-control" id="e_addr2_val" name="e_addr2_val">-->
                   </div>
		    <!--
                    <div class="col-xs-4">
	                    <label for="e_addr3">Address 3:</label>
        	            <input type="text" class="form-control" id="e_addr3" name="e_addr3">
	                    <label for="e_addr3_val">Value:</label>
	                    <input type="text" class="form-control" id="e_addr3_val" name="e_addr3_val">
                    </div>
		    -->
                </div>
</td>
<td>
                <div class="form-group">
                    <div class="col-xs-6">
	                    <label for="chain2_sender">Address 1:</label>
	                    <input type="text" class="form-control" id="chain2_sender" name="chain2_sender">
	                    <label for="chain2_sender_val">Value:</label>
	                    <input type="text" class="form-control" id="chain2_sender_val" name="chain2_sender_val">
                    </div>
                    <div class="col-xs-6">
	                    <label for="chain2_receiver">Address 2:</label>
	                    <input type="text" class="form-control" id="chain2_receiver" name="chain2_receiver">
	                    <!--<label for="ec_addr2_val">Value:</label>
	                    <input type="text" class="form-control" id="ec_addr2_val" name="ec_addr2_val">-->
                    </div>
		    <!--
                    <div class="col-xs-4">
	                    <label for="ec_addr3">Address 3:</label>
        	            <input type="text" class="form-control" id="ec_addr3" name="ec_addr3">
	                    <label for="ec_addr3_val">Value:</label>
	                    <input type="text" class="form-control" id="ec_addr3_val" name="ec_addr3_val">
                    </div>
		    -->
                </div>
</td>
</tr>
<tr>
<td></td>
<td align="right">
		<br>
                <button type="submit" class="btn btn-primary">Submit</button>
</td>
</tr>
            </form>
</table>
        </div>
    <!--</div>-->
</div>

</body>
</html>
{{ end }}
